@import "../../../../assets/styles/variables";

.settingCategories {
  width: 100%;
  background-color: $ultraBlackColorSetting;
  font-size: 14px;

  .header {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    overflow-y: hidden;
    background-color: $sideMenuBg;
    padding: 21px 0;
    border-bottom: 1px solid $topHeaderBg;
    font-weight: bold;
    color: #fff;

    .backBtn {
      display: flex;
      position: absolute;
      left: 10px;
      color: $mainBlueColor;
      cursor: pointer;

      i {
        font-size: 18px;
      }
    }

    .doneBtn {
      display: flex;
      position: absolute;
      right: 25px;
      color: $mainBlueColor;
      cursor: pointer;
    }
  }

  .categories {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30px 30px 30px;
    width: 100%;
    
    .categoryContainer {
      margin-top: 30px;
      max-width: 600px;
      width: 90%;
      
      h5 {
        margin-left: 20px;
        margin-bottom: 5px;
        color: #9DA1A9;
        text-transform: uppercase;
      }
  
      ul {
        width: 100%;
        padding: 0 20px;
        border-radius: 10px;
        background-color: $sideMenuBg;
        font-size: 13px;
        
        li {
          padding: 10px 0;
          font-weight: bold;
          color: #fff;
          border-bottom: 1px solid #1b3652;
  
          // &:first-child {
          // }
  
          &:last-child {
            border-bottom: 1px solid rgba(0, 0, 0, 0);
          }
        }
      }
    }

    .userName, .userBio, .userConnectionInfo, .userActions {
      width: 90%;
      max-width: 600px;
      margin-top: 30px;
    }

    .userName {
      display: flex;
      flex-direction: column;

      .container {
        display: flex;
        align-items: center;
        padding: 15px;
        border-radius: 10px;
        background-color: $sideMenuBg;

        .avatar {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          overflow: hidden;
        
            img {
              width: auto;
              height: 100%;
            }
        }

        .nameField {
          display: flex;
          flex-direction: column;
          width: 100%;
          margin-left: 10px;

          input {
            border: none;
            outline: none;
            color: #fff;
            padding-left: 1px;
            background-color: $sideMenuBg;
  
            &:first-child {
              padding-bottom: 10px;
              border-top-left-radius: 10px;
              border-top-right-radius: 10px;
              border-bottom: 1px solid $borderColor;
            }
  
            &:last-child {
              padding-top: 10px;
              border-bottom-left-radius: 10px;
              border-bottom-right-radius: 10px;
            }
  
            &::placeholder {
              color: $mainGrayColor;
            }
          }

          p {
            padding: 10px 0;

            &:first-child {
              border-bottom: 1px solid $borderColor;
            }
          }
        }
      }

      .description {
        margin: 10px 0 0 15px;
        font-size: 12px;
      }
    }

    .userBio {
      .title {
        padding: 0 0 10px 15px;
      }

      .textField {
        
        input {
          width: 100%;
          padding: 15px;
          border: none;
          border-radius: 10px;
          outline: none;
          color: #fff;
          background-color: $sideMenuBg;

          &::placeholder {
            color: $mainGrayColor;
          }
        }
      }

      .description {
        display: flex;
        flex-direction: column;
        padding-left: 15px;
        font-size: 12px;
        padding-top: 10px;
      }
    }

    .userConnectionInfo, .userActions {
      .container {
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        background-color: $sideMenuBg;

        p {
          margin: 0 15px;
          padding: 15px 0;

          &:first-child {
            border-bottom: 1px solid $borderColor;
          }
        }
      }
    }

    .userActions {
      p {        
        &:first-child {
          color: $mainBlueColor;
        }
        &:last-child {
          width: fit-content;
          color: $mainRedColor;
          cursor: pointer;
        }
      }
    }
  }
}