@import "../../../assets/styles/variables";

.settings {
  color: white;

  .menuBar {
    display: flex;
    flex-direction: column;

    .content {
      padding: 0 10px;
      border-top: 1px solid #242F3F;

      .userContainer {
        border-radius: 10px;
        transition: .2s;
        cursor: default;

        .user {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 15px;
          margin: 15px 0;
  
          .profile {
            display: flex;
            align-items: center;
  
  
            .avatar {
              width: 60px;
              height: 60px;
              border-radius: 50%;
              overflow: hidden;
            
                img {
                  width: auto;
                  height: 100%;
                }
            }
      
            .info {
              margin-left: 15px;
              font-size: 12px;
      
              p {
                padding-bottom: 2px;
              }
      
              .name {
                color: white;
                font-weight: bold;
              }
            }
          }
        }
      }

      .addBtn {
        display: flex;
        align-items: center;
        padding-bottom: 20px;
        color: #45a4f3;
    
        i {
          margin: 0 20px 0 15px;
          font-size: 25px;
        }
    
        p {
          cursor: pointer;
        }
      }

      .categories {
        ul {
          li {
            display: flex;
            align-items: center;
            padding: 8px 0;
            padding-left: 15px;
            border-radius: 10px;
            font-size: 14px;
            transition: .1s;
            cursor: default;

            .categoryIcon {
              border-radius: 5px;
              padding: 0 2px;
              font-size: 18px;

              svg {
                padding-top: 3px;
              }
            }

            p {
              padding-left: 10px;
            }

            .arrow {
              align-self: end;
              margin-left: auto;
            }
          }
        }
      }
    }
  }
}